<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArrRouter</title>
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        function prepare_movie() {
            $("#url").val($("#url").val() + "\nPreparing movie... ETA N/A minutes.");

            fetch("/movie/prepare/" + $("#movies").val()).then((response) => {
                return response.json()
            }).then((data) => {
                console.log(data)
                $("#url").val($("#url").val() + "\n" + data.url);
            });

        }

        function prepare_episode() {
            $("#url").val($("#url").val() + "\nPreparing episode... ETA N/A minutes.");

            fetch("/tv/prepare/" + $("#episodes").val()).then((response) => {
                return response.json()
            }).then((data) => {
                console.log(data)
                $("#url").val($("#url").val() + "\n" + data.url);
            });

        }

        function change_tv_show() {
            fetch("/tv/episodes/" + $("#tvshows").val()).then((response) => {
                return response.json()
            }).then((data) => {
                $('#episodes').empty();
                console.log(data);

                // Sort movie titles
                data.sort((a, b) => {
                    const nameA = a.seasonNumber + " " + a.episodeNumber; // ignore upper and lowercase
                    const nameB = b.seasonNumber + " " + b.episodeNumber; // ignore upper and lowercase
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }
                });


                data.forEach(episode => {
                    if (episode.hasFile === true) {
                        $('#episodes').append($(document.createElement('option')).prop({
                            value: episode.id,
                            text: `S${episode.seasonNumber}E${episode.episodeNumber} - ${episode.title}`,
                        }))
                    }
                });
            });
        }

    </script>
</head>
<body>
Select Movie:
<select id="movies">
</select>
<br><br>

<button onclick="prepare_movie()">Prepare Movie</button>

<br><br>

Select TV Show:
<select id="tvshows" onchange="change_tv_show()">
</select>

<br><br>


<select id="episodes">
</select>

<br><br>

<button onclick="prepare_episode()">Prepare Episode</button>

<br><br>
<textarea id="url">Click prepare movie or prepare TV show</textarea>
<script>
    $(window).on("load", function () {

        fetch("/movie").then((response) => {
            return response.json()
        }).then((data) => {
            console.log(data);

            // Sort movie titles
            data.sort((a, b) => {
                const nameA = a.title.toUpperCase(); // ignore upper and lowercase
                const nameB = b.title.toUpperCase(); // ignore upper and lowercase
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }
            });

            data.forEach(movie => {
                if (movie.hasFile === true) {
                    $('#movies').append($(document.createElement('option')).prop({
                        value: movie.id,
                        text: movie.title
                    }))
                }

            });
        });

        fetch("/tv").then((response) => {
            return response.json()
        }).then((data) => {
            console.log(data);

            // Sort movie titles
            data.sort((a, b) => {
                const nameA = a.title.toUpperCase(); // ignore upper and lowercase
                const nameB = b.title.toUpperCase(); // ignore upper and lowercase
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }
            });

            data.forEach(tv_show => {
                if (tv_show.statistics.episodeFileCount > 0) {
                    $('#tvshows').append($(document.createElement('option')).prop({
                        value: tv_show.id,
                        text: tv_show.title
                    }))
                }

            });
        });
    });
</script>
</body>
</html>